section.inform
	.wrapper
		.inform-box
			h2.title.title-medium WHERE CAN I FIND MORE INFORMATION
	#map
	.inform-nav
		.wrapper
			.inform-nav-box
				a.logo(href="") poz
					span.text-color-base-light nan 
					| - city
					span.text-color-base-light 2
					| live

				nav.nav.nav-bot
					ul.nav-list.js-link
						li
							a(href="") Home
						li
							a(href="") Product
						li
							a(href="") Services
						li
							a(href="") Contact