.wrapper-content
    .wrapper
        .wrapper-content-box
            aside.sidebar
                .author
                    h3.title.title-small ABOUT AUTHOR
                    .author-txt 
                        span.text-color-base-dark John Doe 
                        |- lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta.
                .post
                    h3.title.title-small RELATED POSTS
                    a.post-item(href="#")
                        .post-img
                            img(src="img/post1.jpg", alt="post")
                        .post-content
                            h4 POZNAN AT NIGHT
                            span.icon-chat
                            span.post-comment 10 Comments

                    a.post-item(href="#")
                        .post-img
                            img(src="img/post2.jpg", alt="post")
                        .post-content
                            h4 PEOPLE TO MEET
                            span.icon-chat
                            span.post-comment 21 Comments

                    a.post-item(href="#")
                        .post-img
                            img(src="img/post3.jpeg", alt="post")
                        .post-content
                            h4 VISIT OUR OFFICE
                            span.icon-chat
                            span.post-comment 17 Comments

                .courrency
                    h3.title.title-small CURRENCY
                    table.courrency-table
                        thead
                            tr.courrency-table-head
                                td Date
                                td Value
                                td Status
                                td Diff
                        tbody.courrency-table-body
                            tr      
                                td 22.1
                                td 459.5
                                td 
                                    span.icon.icon-arrow-up
                                td +1.0
                            tr
                                td 21.1
                                td 448.5
                                td 
                                    span.icon.icon-arrow-down
                                td -2.3
                            tr
                                td 20.1
                                td 450.8
                                td 
                                    span.icon.icon-arrow-up
                                td +8.0

            .main-block
                section.reason
                    h2.title.title-medium WHY SHOULD YOU COME TO POZNAN
                    .reason-author
                        .reason-rect
                            span 11 Nov
                                br
                                | 2013
                        .reason-rect.reason-rect-img
                            span by
                                br
                                | John Doe
                    .reason-box Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio  em nec elit.  Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla.
                        br
                        | Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla...
                        .reason-btn-box
                            a.btn.btn-black-line(href="") read more
                                
                            .sharre.sharre-costum
                                a.sharre-link.sharre-link-like(href="")
                                    span.icon.icon-thumb
                                    span.sharre-descr 10 likes
                                a.sharre-link.sharre-link-comments(href="")
                                    span.icon.icon-chat
                                    span.sharre-descr 22 comments

                section.gaiety
                    .gaiety-box
                        .gaity-clmn.shadow
                            .gaity-clmn-box
                                h3.title.title-small NEW ATTRACTIONS
                                .gaity-posted Posted by 
                                    span.text-color-base-dark John Doe 
                                    | on 
                                    span.text-color-base-dark 10 Nov 2013
                                .gaity-txt Donec sed odio dui. Duis mollis, est non commodo luctus, 
                                    br
                                    |nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                    br
                                    |Sed posuere consectetur est at lobortis.
                                a.gaity-link(href="") more...
                            .sharre
                                a.sharre-link.sharre-link-like(href="")
                                    span.icon.icon-thumb.icon-base-color
                                    span.sharre-descr 12
                                a.sharre-link.sharre-link-comments(href="")
                                    span.icon.icon-chat.icon-base-color
                                    span.sharre-descr 34

                        .gaity-clmn.shadow
                            .gaity-clmn-box
                                h3.title.title-small LET’S MEET ON OLD MARKET SQUARE 
                                    |
                                    br
                                    | IT WILL BE FUN
                                .gaity-posted Posted by 
                                    span.text-color-base-dark John Doe 
                                    | on 
                                    span.text-color-base-dark 10 Nov 2013
                                .gaity-txt Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                    br 
                                    | Sed posuere consectetur est at lobortis.Eget lacinia odio sem nec elit.
                                    br
                                    | Sed posuere consectetur est at lobortis.eget lacinia...

                                a.gaity-link(href="") more...
                            .sharre
                                a.sharre-link.sharre-link-like(href="")
                                    span.icon.icon-thumb.icon-base-color
                                    span.sharre-descr 55
                                a.sharre-link.sharre-link-comments(href="")
                                    span.icon.icon-chat.icon-base-color
                                    span.sharre-descr 56

                        .gaity-row.shadow.shadow-large
                            .gaity-row-box
                                span.gaity-row-txt your ad here
