section.tizer
    .tizer-top
        .wrapper
            h1.title.title-large visit poz
                span.text-color-base-light nan
            .tizer-subtitle a city on the 
                span.text-color-base-light Warta 
                | river in west-central 
                span.text-color-base-light Poland
                |, the region called 
                span.text-color-base-light Greater Poland.

    .tizer-bot.person
        .wrapper
            .person-list
                .person-item
                    .person-img
                        img(src="img/person1.png", alt="person")
                    .person-txt I was in Poznan once.
                        br 
                        | The architecture 
                        br
                        | is really awesome.
                        .person-author Joe Wisdom, architect

                .person-item
                    .person-img
                        img(src="img/person2.png", alt="person")
                    .person-txt I was lost in Poznan
                        br 
                        | for 3 days. 
                        br
                        | I was terrified.
                        .person-author Little Box, child

                .person-item
                    .person-img
                        img(src="img/person3.png", alt="person")
                    .person-txt People used to
                        br 
                        | look at me now 
                        br
                        | they don’t see me.
                        .person-author Eva Doe, exmodel
                        
                .person-item
                    .person-img
                        img(src="img/person4.png", alt="person")
                    .person-txt I have a lot of penfriends
                        br
                        | in Poznań. I like
                        br
                        | writting to them and ...
                        .person-author Emma Smith, child



 
