header.header
	.wrapper
		.header-top
			.header-top-box
				a.logo(href="") poz
					span.text-color-base-light nan 
					| - city
					span.text-color-base-light 2
					| live

				ul.social

					li
						a.social-link(href="")
							.icon-evernote
					li
						a.social-link(href="")
							.icon-twitter
					li
						a.social-link(href="")
							.icon-pinterest
					li
						a.social-link(href="")
							.icon-linkedin
					li
						a.social-link(href="")
							.icon-facebook
					li
						a.social-link(href="")
							.icon-delicious
		nav.nav
			ul.nav-list.js-link
				li
					a.nav-link-active(href="") Home
				li
					a(href="") Product
				li
					a(href="") Services
				li
					a(href="") Contact