doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel='icon' href='' type='')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet")
        link(rel='stylesheet' href='css/styles.min.css')
        title news

    body.loaded
      .main-wrapper
        main.content 
            include sections/tizer.pug
            
            include sections/main-content.pug
            
            include sections/information.pug
            
        include components/header.pug

        include components/footer.pug

    .icon-load
      
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7WplUunXErzzBnHcwb-b_KzPZjc53tGo&callback=initMap")
    script(src='js/scripts.min.js')